{% extends "main.html" %}
{% load i18n %}



{% block links %}
<li {% if 'call' == current_path %}
class="active open"
{% endif %}>
    <a href="{% url 'call' dao_id %}">DAO Home</a>
</li>
{% endblock %}


{% block content %}
{% include 'messages.html' %}



<div class="row clearfix">
    <div class="col-lg-6 col-md-12 col-sm-6">
        <div class="card" style="height: 300px;">
            <div class="body">
                <!-- <h3>Registration period is valid between round {{RegBegin}} and {{RegEnd}}</h3> -->
                <form  method="post">
                    {%csrf_token%}
                    <p>To join the DAO you need to have more than 10 SocioAlgo token. To aquire tokens you can exchange it over here. For each 10 SocioAlgo, you will acuire 1 voting power. </p>
                    <p>By joining SocioDao, you will be qualified to make proposals or participate in voting and crowdfunding.</p>
                    <p>You need to agree with our terms and confirm before joining the DAO members</p>
                    <label for="">Enter your pasphrase to join the DAO:   </label>
                    <input type="password" name="pasphrase" >
                    <a href=""><input src=""  type="submit" class="btn btn-primary btn-round btn-block waves-effect btn-raised m-b-10" name="action" value="join" id="" style="height: 50px; width: 100px; font-size: 15px ;"></a> 
                    <!-- <input type="submit" value="OK"> -->
                </form>
 
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-6">
        <div class="card" style="height: 300px;">                    
            
            <div class="header">
                <h2><strong>Last accounts</strong> Joined</h2>                        
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-filter table-hover m-b-0">                                
                        <tbody>

                            <tr data-status="approved">
                                <td>Account Address</td>
                            </tr>
                            {% for i,j in users.items %}
                                <tr>
                                        <td><a href="https://testnet.algoexplorer.io/address/{{i}}" target="_blank">{{i}}</a>  </td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">         
            <div class="body">
                <div class="row clearfix ">
                    <div class="col-sm-6 col-md-4 col-lg-6">
                       <a href="{% url 'crowdfunding' dao_id %}"><input src=""  type="submit" class="btn btn-primary btn-round btn-block waves-effect btn-raised m-b-10" name="Optin" value="Crowdfunding" id="" style="height: 250px; font-size: 30px ;"></a> 
                    </div>
                   
                    <div class="col-sm-6 col-md-4 col-lg-6">
                        <a href="{% url 'vote' dao_id %}"><input src=""  type="submit" class="btn btn-primary btn-round btn-block waves-effect btn-raised m-b-10" name="Optin" value="Voting" id="" style="height: 250px; font-size: 30px ;"></a> 
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">                    
            <div class="header">
                <h2><strong>Last crowdfunding updates</strong></h2>                        
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-filter table-hover m-b-0">                                
                        <tbody>

                            <tr data-status="approved">
                                <td>Proposal Name</td>
                                <td>Proposal detail</div></td>
                                <td>Number of votes</td>
                                <td>fund request</td>
                                <td>fund amount</td>

                                <!-- <td width="250px">
                                    <div class="progress">
                                        <div class="progress-bar l-green" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;"></div>
                                    </div>
                                </td> -->
                                <td><span >fund_state</span></td>
                            </tr>
                                
                            {% for i, j in prps.items %}

                            <tr data-status="approved">
                                <td>{{i}}</td>
                                <td>{{j.fund_detail}}</div></td>
                                <td>{{j.votes}}</td>
                                <td>{{j.fund_request}}</td>
                                <td>{{j.fund_amount}}</td>

                                <!-- <td width="250px">
                                    <div class="progress">
                                        <div class="progress-bar l-green" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%;"></div>
                                    </div>
                                </td> -->
                                <td><span class="badge badge-success">{{j.fund_state}}</span></td>
                            </tr>
                           
                            {% endfor %}
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">                    
            <div class="header">
                <h2><strong>Last voting updates</strong></h2>                        
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-filter table-hover m-b-0">                                
                        <tbody>

                            <tr data-status="approved">
                                <td>Proposal Name</td>
                                <td>Proposal detail</div></td>
                                <td>Number of votes</td>
                                
                            </tr>
                                
                            {% for i, j in voters.items %}

                            <tr data-status="approved">
                                <td>{{i}}</td>
                                <td>{{j.fund_detail}}</div></td>
                                <td>{{j.votes}}</td>
                                
                            </tr>
                           
                            {% endfor %}
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

